@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color:transparent;
}

body {
    @apply box-border;
    @apply text-alvaro-white bg-alvaro-base ;
}

body::-webkit-scrollbar {
    width: 0.5em;
  }
   
body::-webkit-scrollbar-thumb {
  @apply bg-alvaro-primary active:bg-alvaro-danger;
  -webkit-border-radius: 1ex;
}